/* Default styles for screens wider than tablets (e.g., desktop) */
body {
    height: 100%;
    font-family: "Playfair Display", serif;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #aabcc0;
}

.title {
    text-align: center;
    font-size: 5vw;
}

.intro-container {
    margin: 10px;
    padding: 10px;
    width: 50%;
    font-size: xx-large;
}

/* large laptops*/
@media screen and (max-width: 1440px) {
    .intro-container {
        width: 70%;
        font-size: x-large;
    }
}

/* laptops*/
@media screen and (max-width: 1024px) {
    .intro-container {
        width: 80%;
        font-size: large;
    }
}

/* tablets  */
@media screen and (max-width: 768px) {
    .intro-container {
        width: 90%;
        font-size: medium;
    }
}

/*  large mobiles  */
@media screen and (max-width: 425px) {
    .title {
        font-size: 6vw;
    }

    .intro-container {
        width: 95%;
        font-size: small;
    }
}

/* small mobiles */
@media screen and (max-width: 375px) {
    .title {
        font-size: 7vw;
    }

    .intro-container {
        width: 100%;
        font-size: x-small;
    }
}
