h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.hero-main-container img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.card-backgroundColor{
  background-color: blanchedalmond;
  width: 80%;
  margin: 20px;
}