/* Footer.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialIcons {
  font-size: 24px;
  margin-right: 10px;
}

.icon {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.icon:hover {
  color: #0077b5; 
}

.icon:last-child {
  margin-right: 0;
}
