
.skills-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 245, 245);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skills-title {
    text-shadow: 10px 5px 5px rgb(27, 76, 92);
    text-transform: uppercase;
    font-size: xx-large;
}

.card {
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 5px 5px 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: black;
    box-shadow: 10px 10px 5px lightblue;
}

.skill-name {
    font-size: large;
    text-align: center;
}

.skill-image {
    width: 100px;
    height: 100px;
}

/*  large laptops */
@media screen and (min-width: 1440px) {
    .card {
        width: 250px;
        height: 250px;
    }

    .skill-image {
        width: 120px;
        height: 120px;
    }
}

/* laptops  */
@media screen and (max-width: 1024px) {
    .card {
        width: 180px;
        height: 180px;
    }

    .skill-image {
        width: 90px;
        height: 90px;
    }
}

/* tablets  */
@media screen and (max-width: 768px) {
    .card {
        width: 150px;
        height: 150px;
    }

    .skill-image {
        width: 80px;
        height: 80px;
    }
}

/* large mobiles */
@media screen and (max-width: 425px) {
    .card {
        width: 120px;
        height: 120px;
    }

    .skill-image {
        width: 60px;
        height: 60px;
    }

    .skills-title {
        font-size: large;
    }

    .skill-name {
        font-size: small;
    }
}

/*  mobile devices  */
@media screen and (max-width: 375px) {
    .card {
        width: 100px;
        height: 100px;
    }

    .skill-image {
        width: 50px;
        height: 50px;
    }

    .skills-title {
        font-size: medium;
    }

    .skill-name {
        font-size: x-small;
    }
}